$width--tablet: 568px;
$width--large: 1500px;

$color--primary: #4A7C59;
$color--secondary: #68B0AB;
$color--muted: #6e6e6e;
$color--heading: #4A7C59;
$color--body: #222;

$border--primary: #160F29;
$border--thick: 3px;

$navbar__bg: white;
$navbar__words: #160F29;
$navbar__border: #B02E0C;
$navbar__bg--hover: transparent;
$navbar__words--hover: #B02E0C;

$cta__bg: #B02E0C;
$cta__words: #160F29;
$cta__bg--hover: #160F29;
$cta__words--hover: #fff;
